button {
    background-color: transparent;
    border-style: solid;
    border-radius: 4px;
    font-size: 16px;
    padding: 4px;
    cursor: pointer;
}

.plus-btn {
    border-radius: 50px;
    font-size: 14px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.flex {
    display: flex;
}


.prop-name {
    margin: 0px;
    font-size: 17px;
    font-family: Arial;
    padding-top: 5px;
    padding-bottom: 3px;
    line-height: 1.0;
}

#page-container {
    color: black;
    display: flex;
    height: 95vh;
}

#sidebar {
    font-size: 20px;
    width: 40%;
    max-width: 400px;

    resize: both;
    overflow: auto;
}

.mq-dynamic {
    margin: 0px;
    line-height: 1.0;
    padding: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #555555;
    border-width: 1px;
}

.mq-static, .mq-dynamic {
    margin: 0px;
    line-height: 1.1;
    padding: 0px 0px 0px 0px;
}

.prop-name {
    margin-top: 10px;
}

.mq-dynamic {
    margin-top: 25px;
}

.delete-equation-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 20px;
    font-size: 18px;
}

#graph-container {
    position: relative;
    margin: 3%;
    height: 90%;
    width: 90%;
}

.graph-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.vertical-line {
    background-color: gray;
    width: 1px;
}

#point-box {
    position: absolute;
    z-index: 100;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 2px;
}
